*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    font-size:8vmin ;
    margin-top: 1rem;
}

#container{
    height:70vh ;
     display: flex;
     justify-content: center;
     align-items: center;
}
.game{
    height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 2vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #fffc7f;
    color: rgba(16, 82, 147, 0.862);
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
     align-items: center;
     font-size: 9vmin;
     font-weight: bold;
    box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}
.btn-new{
     font-size: 3vmin;
    padding: 1rem;
    margin-top:1rem ;
    margin-bottom:1rem ;
    border-radius: 1rem;
    background-color:#25291c ;
    color: white;
}
.msg{
    color: #c9184a;
    font-size: 10vmin;
}
.hide{
    display: none;
}


 
